@model AAS.Web.Models.Collection
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L
@{
  var images = Model.Images.OrderBy(i=>i.SortOrder).ToList();
}
<div class="row">
  <div class="col-lg-7">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        @foreach(var i in images){
          <div class="swiper-slide">
            <img class="w-100" alt="@Model.Title"
                 src="/uploads/images/@i.FileName-960.jpg"
                 srcset="/uploads/images/@i.FileName-480.jpg 480w, /uploads/images/@i.FileName-960.jpg 960w, /uploads/images/@i.FileName-1600.jpg 1600w" />
          </div>
        }
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    @if(!string.IsNullOrEmpty(Model.AudioPath)){
      <audio controls class="mt-2" src="@Model.AudioPath"></audio>
    }
  </div>
  <div class="col-lg-5">
    <h2 class="mb-3">@Model.Title</h2>
    <p>@Html.Raw(ViewBag.TranslatedDescription as string ?? Model.Description)</p>
    <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#interestModal">@L["I'm interested"]</button>
  </div>
</div>

<div class="modal fade" id="interestModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h5 class="modal-title">@L["Send inquiry"]</h5><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      <div class="modal-body">
        <form id="inqForm">
          <input type="hidden" name="collectionId" value="@Model.Id" />
          <input type="hidden" name="collectionTitle" value="@Model.Title" />
          <div class="mb-2"><label class="form-label">@L["First name"]</label><input class="form-control" name="FirstName" /></div>
          <div class="mb-2"><label class="form-label">@L["Last name"]</label><input class="form-control" name="LastName" /></div>
          <div class="mb-2"><label class="form-label">Email</label><input class="form-control" name="Email" type="email" /></div>
          <div class="mb-2"><label class="form-label">@L["Phone"]</label><input class="form-control" name="Phone" /></div>
          <div class="mb-2"><label class="form-label">@L["Message"]</label><textarea class="form-control" name="Message" rows="4"></textarea></div>
        </form>
        <div id="inqOk" class="alert alert-success d-none">@L["Thank you. We will contact you soon."]</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@L["Close"]</button>
        <button type="button" class="btn btn-dark" onclick="submitInquiry()">@L["Send"]</button>
      </div>
    </div>
  </div>
</div>

<form id="inqForm">
@Html.AntiForgeryToken()
...
</form>

@section Scripts{
<script>
  new Swiper('.mySwiper', { loop: true, pagination: { el: '.swiper-pagination' }, navigation: { nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' } });
</script>
}